#box {
    width: 200px; 
    height: 300px; 
    position: absolute; 
    
   }  
   
   #redpill {
    width: 200px; 
    height: 280px; 
    position: absolute; 
    left: 1100px; 
    top: 450px; 
   } 
   
   #titulo {
       position: absolute; 
       margin-left: 25%;
       font-size: 30px;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: bolder;
       color: rgb(255, 0, 55);
   }